@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "utils/variables";
@import "utils/mixins";


body{
    background-color: #FFFCEA;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    & a{
        text-decoration: none;
    }
}
.navBarre {
    display: flex;
    width: 100%;
    background-color:$primary-color;
    margin-bottom: 50px;
    & .navBarre__liste{
        width: 100%;
        display: flex;

        & ul{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-right: 50px;
            
             & li {
                 padding: 30px 50px 0 0;     
             }
        }
        
    }
    @media screen and (max-width: 768px){
        
        display: flex;
        flex-direction: column;
        & .navBarre__liste {
            padding-bottom: 20px;
        }

        
    }

}



.logo{
    height:110px;
    width: 200px;
    
    @media screen and (max-width: 768px){
        
        display: flex;
        justify-content:center;
        
    }
    
}

/*page index*/

.titre-page,
.model{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
       
        align-items: center;
        margin-left: 20px;
        
    }
}

.teddies {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    width: 90%;
    margin: 20px 20px 0 20px;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;

        
    }
}

.item{
    display: flex;
    border: 1px solid transparent;
    border-radius: 20px;
    flex-direction: column;
    border:2px solid white;
    position: relative;
    box-shadow: 0px 7px 10px -6px #b9b8b8;
    

    .picture{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    
    .price{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
        font-weight: bold;

    }

    .name{
        position: absolute;
        top: 15px;
        right: 15px;
        font-weight: bold;
        font-size: 20px;
        position:absolute;
        top: 15px;
        right: 15px;
        @include teddies;
    }

    
}
/*page products*/

.teddiesProduct{
    
    display: flex;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
   
    }

    & #templateArticle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 7px 10px -6px #b9b8b8;
        border-radius: 20px;
        & .model {
            margin-top: 20px;
        }

        & .colorsForm{
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color:$primary-color;
            width: 100%;
            display: flex;
            
            justify-content:center;
            & #colors{
                margin: 20px 20px 20px 0;
                @include bouton;
                
            }

            & p{
                margin: 20px 0 20px 20px;
                @include bouton;
            }
        }
        
    }
 
}
.item-prod{
    display: flex;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;   
    border:2px solid white;
    position: relative;
    
    & .picture-prod{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
    }
    & .namePrice{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;
        padding: 10px;
        font-weight: bold;
    }
    & #description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0 0 20px;
        & .description-title{
            font-weight: bold;
            padding: 10px;
        }
    }
    

}

/*page panier*/
head{
    display: flex;
    
}

.purchasePage{
    display: flex;
    margin: 20px;
    padding: 30px;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    & #clearPurchase{
        margin: 50px 0 0 0;
        @include bouton;
    }
    & #clearPurchase:hover {
        cursor: pointer;
    }

    
    
    & #purchaseProducts,
    #summaryTotal,
    #infoGuest{
        display: flex;
        width: 100%;
        flex-direction:column;
        justify-content: center;
        border:2px solid black;
        border-radius: 20px;
        box-shadow: 0px 7px 10px -6px #b9b8b8;
        padding: 20px;
        margin: 20px;
    }
    
    & .info,
    legend {
        font-weight: bold;
        margin-bottom: 10px;
    }
    #sendOrder{
        margin: 20px 0 10px 0;
        @include bouton;
              
    }
    & #sendOrder:hover {
        cursor: pointer;
    }
}

.info {
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
        color:rgb(179, 71, 179);
    }
#formulaire{

    & label {
        margin-left: 20px;
    }
    & input{
        @include input;
        margin: 5px;
    }
}
.totaux tab{
    @media screen and (max-width: 768px) {
        padding: 10px;

    }
}

#nextPurchase{
    @include bouton;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
#nextPurchase:hover {
    cursor: pointer;
}
/*page order*/

.pageOrder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    

    & #guestIndent,
    #indent{
        border:2px solid black;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0px 7px 10px -6px #b9b8b8;
        margin-bottom: 20px;
        
    }

    & h1{
        font-size:20px;
        margin-bottom: 40px;
        color:rgb(179, 71, 179);
    }
    & .unitIndentPrice{
        padding-left: 20px;
    }
        
}

hr{
    height: 4px;
    color:black;
    background-color: black;
    margin: 10px 0;
}

.sendIndex{
    @include bouton;
}

/*footer*/

footer {
    background-color: $primary-color;
    margin-top: 50px;
    padding-bottom: 50px;

    & .footer__group{
        padding-top: 50px;
        @media screen and (max-width: 768px){           
           display: flex;
           flex-direction: column;
            
        }
    }
    
    & a{
        padding: 0 0 20px 20px;
        text-decoration: none;
        
    }
    
}
