@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "utils/variables";
@import "utils/mixins";


body{
    background-color: #FFFCEA;
    font-family: 'Roboto', sans-serif;
}
.navBarre {
    display: flex;
    background-color:$primary-color;
    margin-bottom: 50px;
    & .navBarre__liste{
        width: 100%;
        display: flex;

        & ul{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-right: 50px;
            text-decoration: none;
             & li {
                 padding: 30px 50px 0 0;
                 
             }
        }
        
    }

}

.logo{
    height:110px;
    width: 200px;
    
}

.titre-page,
.model{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 50px;
    
}

.teddies{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    width: 90%;
    margin: 20px 20px 0 20px;
    
}

.item,
.item-prod{
    display: flex;
    border: 1px solid transparent;
    border-radius: 20px;
    flex-direction: column;
    border-radius: 20px;
    border:2px solid white;
    position: relative;
    box-shadow: 0px 7px 10px -6px #b9b8b8;
    position: relative;

    .picture,
    .picture-prod{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }

    
    .price{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: $primary-color;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
        font-weight: bold;

    }

    .name{
        position: absolute;
        top: 15px;
        right: 15px;
        font-weight: bold;
        font-size: 20px;
        position:absolute;
        top: 15px;
        right: 15px;
        @include bouton;
    }

    
}
/*page products*/

.teddiesProduct{
    
    display: flex;
    justify-content: center;
    position: relative;

    & .templateArticle{
        display: flex;
        justify-content: center;
        align-items: center;
        
        & .nameItem{
        position: absolute;
        top: 15px;
        right: 15px;
        font-weight: bold;
        font-size: 20px;
        position:absolute;
        top: 15px;
        right: 15px;
        @include bouton;
        }
    }


 
}

footer {
    background-color: $primary-color;
    margin-top: 50px;
    
}
